<h2><%=@project.title%></h2>
<a href="/project/<%=@project.id%>/edit">Edit Project</a>
<h3>Volunteers</h3>

<% if @volunteers.any? %>
  <ul>
    <% @volunteers.each do |volunteer| %>
      <li><a href="/volunteer/<%= volunteer.id %>"><%= volunteer.name %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no volunteers to display. Be the first!</p>
<% end %>

<%=erb(:new_volunteer)%>